---
const { content } = Astro.props;
const { snapshot } = content;
---

<section id="snapshots" class="py-16 px-6 max-w-7xl mx-auto">
  <!-- <div class="text-center">
    <h2 class="text-md tracking-tighter mb-6 leading-tight text-brand-black">
      {snapshot.title}
    </h2>
  </div> -->
  <div class="flex flex-row justify-center items-center gap-8 md:grid-cols-3">
    {
      snapshot.items.map((item: { label: string; src: string }) => (
        <div class="bg-white p-0 shadow-lg shadow-white/10 h-60 w-100 overflow-hidden rounded-lg">
          <video
            class="h-full w-full object-cover"
            aria-label={item.label}
            autoplay
            muted
            loop
            playsinline
            preload="metadata"
          >
            <source src={item.src} type="video/mp4" />
          </video>
        </div>
      ))
    }
  </div>
</section>
